<nav class="main-menu">
    <ul>
        <li>
            <a href="">
                <i class="bi bi-person-circle"></i>
                <span class="nav-text">
                    icone
                </span>
            </a>
        </li>
    </ul>
    <hr>

    <ul>
        <li>
            <a href="javascript:void(0)" (click)="openTab('agenda')">
              <i class="bi bi-calendar-event"></i>                
                <span class="nav-text">
                   Agenda des docteurs
                </span>
            </a>
        </li>
        <li class="has-subnav">
            <a href="javascript:void(0)" (click)="openTab('gestion')">
              <i class="bi bi-journal-medical"></i>                
                <span class="nav-text">
                    Gestion des rendez-vous
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a href="javascript:void(0)" (click)="openTab('notifications')">
                <i class="bi bi-bell-fill"></i>
                    <span class="nav-text">
                    notifcations
                </span>
            </a> 
        </li> 
    </ul>

    <ul class="logout">
        <li>
           <a  (click)="onLogout()">
                 <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Déconnexion
                </span>
            </a>
        </li>  
    </ul>
</nav>

 <!-- affichage de l'agenda des docteurs-->
 <div  class="table-container" *ngIf="activeTab === 'agenda'">
    <table class="table caption-top" >
        <caption>Liste des docteurs</caption>

        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Telephone</th>
            <th scope="col">Disponibilites</th>
            <th scope="col">spécialité</th>
            <th scope="col">description</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let docteur of docteurs">
                <td>{{ docteur.nom }} {{ docteur.prenom }}</td>
                <td>{{ docteur.phoneNumber }}</td>
                <td>
                    {{ docteur.heuresDebut }} - {{ docteur.heuresFin }}<br>
                    <span *ngFor="let jour of docteur.joursTravail; let i = index">
                      <ng-container *ngIf="jour">{{ daysOfWeek[i] }} </ng-container>
                    </span>
                </td>
                <td>{{docteur.specialite}}</td>
                <td>{{docteur.description}}</td>
                <td>
                    <i class="bi bi-pencil-fill icon-pencil" (click)="openEditDoctorModal(docteur)" style="color: #CE50FF;"></i>
                </td>
              
            </tr>
        
        </tbody>
    </table>
</div>

<!-- Edit Doctor Modal -->
<div #editDoctorModal class="modal fade" id="editDoctorModal" tabindex="-1" aria-labelledby="editDoctorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editDoctorModalLabel">Modifier les Informations du Docteur</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="editDoctorForm">
            <div class="mb-3">
              <label for="nom" class="form-label">Nom</label>
              <input type="text" id="nom" formControlName="nom" class="form-control">
            </div>
            <div class="mb-3">
              <label for="prenom" class="form-label">Prenom</label>
              <input type="text" id="prenom" formControlName="prenom" class="form-control">
            </div>
            <div class="mb-3">
              <label for="phoneNumber" class="form-label">Telephone</label>
              <input type="text" id="phoneNumber" formControlName="phoneNumber" class="form-control">
            </div>
            <div class="mb-3">
              <label for="heuresDebut" class="form-label">Heures de Début</label>
              <input type="time" id="heuresDebut" formControlName="heuresDebut" class="form-control">
            </div>
            <div class="mb-3">
              <label for="heuresFin" class="form-label">Heures de Fin</label>
              <input type="time" id="heuresFin" formControlName="heuresFin" class="form-control">
            </div>

            
            <!--div class="mb-3">
                <label class="form-label">Jours de travail</label>
                <div formArrayName="joursTravail" *ngFor="let jour of daysOfWeek; let i = index">
                  <div [formGroupName]="i">
                    <input type="checkbox" [formControlName]="0"> {{ daysOfWeek[i] }}
                  </div>
                </div>
              </div>-->
              <div class="mb-3">
                <label class="form-label">Jours de Travail</label>
                <div *ngFor="let day of daysOfWeek; let i = index" class="form-check">
                  <input type="checkbox" class="form-check-input" [formControlName]="i">
                  <label class="form-check-label">{{ day }}</label>
                </div>
              </div>
             
              
              


            <div class="mb-3">
                <label for="specialite" class="form-label">Specialité</label>
                <input type="text" id="specialite" formControlName="specialite" class="form-control">
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" id="description" formControlName="description" class="form-control">
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-primary" (click)="upDoctor()">Enregistrer les modifications</button>
        </div>
      </div>
    </div>
  </div>


<!-- affichage des rendezvous-->
<div  class="table-container" *ngIf="activeTab === 'gestion'">
    <table class="table caption-top" >
        <caption>Liste des Rendez-vous</caption>

        <thead>
        <tr>
            <th scope="col">Docteur</th>
            <th scope="col">Patient</th>
            <th scope="col">Consultation</th>
            <th scope="col">Status</th>
            <th scope="col">Commentaire d'annulation</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let appointment of appointments">
                <td>{{ appointment.doctor_name }}</td>
                <td>{{ appointment.patientName }} {{ appointment.patientPrenom }}</td>
                <td>{{ appointment.date_heure | date: 'short'}}</td>
                <td>{{ appointment.status }}</td>
                <td>{{ appointment.annulation_commentaire }}</td>
                <td>
                <button class="btn btn-success" (click)="sendReminder(appointment._id)">Rappeler</button>
                <button class="btn btn-danger" (click)="cancelAppointmentBySecretary(appointment._id)">Annuler</button>
                <button class="btn btn-info" (click)="confirmAppointmentBySecretary(appointment._id)">Confirmer</button>
                <button class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#rescheduleModal" (click)="openRescheduleModal(appointment._id)" >Décaler</button>
                <!--<button class="btn btn-danger" (click)="deleteAppointment(appointment._id)">Supprimer</button>-->
                <button class="btn btn-warning" (click)="archiveAppointment(appointment._id)">Archiver</button>

                </td>
            </tr>
        
        </tbody>
       
    </table>
</div>

<!-- Reschedule Modal -->
<div class="modal fade" id="rescheduleModal" tabindex="-1" aria-labelledby="rescheduleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="rescheduleModalLabel">Décaler le Rendez-vous</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="rescheduleForm">
            <div class="mb-3">
              <label for="newDate" class="form-label">Nouvelle Date</label>
              <input type="date" id="newDate" formControlName="newDate" class="form-control">
            </div>
            <div class="mb-3">
              <label for="newStartTime" class="form-label">Nouvelle Heure de Début</label>
              <input type="time" id="newStartTime" formControlName="newStartTime" class="form-control">
            </div>
            <div class="mb-3">
              <label for="newEndTime" class="form-label">Nouvelle Heure de Fin</label>
              <input type="time" id="newEndTime" formControlName="newEndTime" class="form-control">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-primary" (click)="rescheduleAppointmentBySecretary()">Enregistrer les modifications</button>
        </div>
      </div>
    </div>
</div>




<div class="notification-container" *ngIf="activeTab === 'notifications'">
    <h2>Notifications</h2>
    <ul>
      <li *ngFor="let notification of notifications" class="notification-item">
        <span class="notification-title">{{ notification.title }}</span>
        <span class="notification-message">{{ notification.message }}</span>
      </li>
    </ul>
  </div>
  